.ai-c {
  align-items: center;
}

.bgc-green {
  background-color: green;
}

.bgc-red {
  background-color: red;
}

.bgc-yellow {
  background-color: yellow;
}

.d-f {
  display: flex;
}

.pad {
  padding: 5px;
}

.ta-c {
  text-align: center;
}

.va-m {
  vertical-align: middle;
}
