* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ai-c {
  align-items: center;
}

.bgc-gray {
  background-color: #a79ab2;
}

.bgc-green {
  background-color: green;
}

.bgc-orange {
  background-color: #c2571a;
}

.bgc-red {
  background-color: #ad2a1a;
}

.bgc-v-blue {
  background-color: #44ccff;
}

.button {
  background-color: #eff0d1;
  outline: 2px dotted #623b5a;
  padding: 5px;
  border-radius: 8px;
  margin: 5px;
}

.d-f {
  display: flex;
}

.fw-w {
  flex-wrap: wrap;
}

.italics {
  font-style: italic;
}

.five-day-card {
  background-color: #623b5a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  outline: 2px groove #eff0d1;
  padding: 1rem;
  border-radius: 4px;
  width: fit-content;
}

.m-t {
  margin-top: 10px;
}

.pad {
  padding: 5px;
}

.ta-c {
  text-align: center;
}

.va-m {
  vertical-align: middle;
}

.va-t {
  vertical-align: top;
}
